
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    <link rel="stylesheet" href="/about.css">
    <title>About</title>
    <style>
        a{
            font-size: large;
            color: gray;
        }   
    </style>
</head>
<body>
        <nav class="navbar fixed-top navbar-expand-md bg-dark"> 
  
            <ul class="navbar-nav" sty> 
                <li class="nav-item active"> 
                    <a class="nav-link" href="/"> 
                        <img src="https://cdn2.vectorstock.com/i/1000x1000/09/16/children-read-book-dreams-logo-template-symbol-vector-31680916.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                        Backing Brilliance
                    </a> 
                </li> 
            </ul> 
            <ul class="navbar-nav inline">
                <li class="nav-item"> 
                    <a class="nav-link" href="/about"> About </a> 
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="/contact"> Contact Us </a> 
                </li>
            </ul>
        </nav> 

        <div class="container">OUR MISSION
            <div class="container" style="width: 95%;"><br>
                <p style="font-size: large; font-weight: 400;">Backing Brilliance is India’s leading independent child rights NGO. We work in 18 states of India. Started in 2008 in India, and registered as ‘Bal Raksha Bharat’, we have changed the lives of more than 10.1 million (1.1 crore) children

                    Every child deserves the best chance for a bright future. That’s why we are fiercely committed to ensuring children not only survive, but thrive. Bold in our ambition and powerful in our care, we do whatever it takes to save the world’s children.
                    
                    In India and around the world, Backing Brilliance is on the ground – every day and in times of crisis. Our pioneering programs address children’s unique needs, giving them a healthy start, the opportunity to learn and protection from harm. When crisis strikes, we are always among the first to respond and the last to leave. We are outspoken champions for children, ensuring their voices are heard and their issues are given top priority. Drawing on a century of leading expertise, we take on the toughest challenges facing the hardest-to-reach children – especially those unfairly excluded from the world’s progress.
                    
                    We are proud to be the world’s leading expert on children, delivering lasting results for millions of vulnerable girls and boys. By saving the world’s children, we transform their lives and the future we share.
                    
                    While we run several programmes across India, we also work in tandem with numerous government agencies, civil society organizations, and communities across five core themes: Health & Nutrition, Education, Child Protection, Humanitarian Response, as well as Disaster Risk Reduction and Child Poverty.
                    
                    Aligned with Backing Brilliance’s Global Breakthroughs for 2030, we strive to build a world where every child attains the right to survival, protection, development and participation.
                </p>
            </div>
            
        </div>













    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>