<%- include("./partials/header") %> 


<div class="jumbotron"style="width: 30%; height: 400px; margin: 100px auto;">
    
    <form action="/donate" method="post" style="padding: 25px;">
        <div class="form-group">
            <input class="form-control" type="text" name="name" placeholder="Enter Name"><br>
            <input class="form-control" type="text" name="mobile" placeholder="Enter Mobile Number"><br>
            <input class="form-control" type="text" name="email" placeholder="Enter Email Address"><br>
            <input class="form-control" type="number" name="amount" placeholder="Enter Amount"><br>
        </div>
        <div class="form-group text-center">
            <button class="btn btn-success">Continue</button>
        </div>
    </form>    
</div>
<%- include("./partials/footer") %> 