<%- include("./partials/header") %> 
<br>
<br>
<div class="jumbotron text-center">
    <div class="container">
        <h1>PAYMENT FAILED</h1>
    </div>
    <div class="container">
        <p>Your Transaction Could Not Be Completed!</p>
    </div>
        <br>
    <a href="/" class="btn btn-danger">Try Again</a>
</div>

<%- include("./partials/footer") %> 