
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    <title>Backing Brilliance</title>
</head>
<body>
        <!-- <nav class=" navbar fixed-top navbar-light" style="font-size: xx-large">
            <a class=" navbar-brand" href="/"style="font-size: x-large">
            <img src="https://cdn2.vectorstock.com/i/1000x1000/09/16/children-read-book-dreams-logo-template-symbol-vector-31680916.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
            <span style="color: gray;">Backing Brilliance</span>
            </a>
            <div class="" id="navbarNavAltMarkup">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active mr-auto">
                        <a style="color: gray;" href="/about">About</a>
                    </li>
                    <li class="nav-item mr-auto">
                        <a style="color: gray;" href="/about">About</a>
                    </li>
                </ul>
                
            </div>
            
        </nav>  -->

        <nav class="navbar fixed-top navbar-expand-md bg-dark"> 
  
            <ul class="navbar-nav"> 
                <li class="nav-item active"> 
                    <a class="nav-link" href="/"> 
                        <img src="https://cdn2.vectorstock.com/i/1000x1000/09/16/children-read-book-dreams-logo-template-symbol-vector-31680916.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                        Backing Brilliance
                    </a> 
                </li> 
            </ul> 
            <ul class="navbar-nav inline">
                <li class="nav-item"> 
                    <a class="nav-link" href="/about"> About </a> 
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="/contact"> Contact Us </a> 
                </li>
            </ul>
        </nav> 

        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            
            <div id="landing-header">
                <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_GAds57G3nLgUzS"> </script></form>
            </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>