<%- include("./partials/header") %> 
<br>
<br>
<div class="jumbotron text-center">
    <div class="container">
        <h1>PAYMENT SUCCESSFUL</h1>
    </div>
    <div class="container">
        <p>Thank You For Your Contribution</p>
    </div>
        <br>
    <a href="/" class="btn btn-primary">Back To Home</a>
</div>

<%- include("./partials/footer") %> 